[Desktop Entry]
Type=Application
Name=BeatSaberModManager
Comment=Yet another mod installer for Beat Saber, heavily inspired by ModAssistant
Exec=beatsabermodmanager %U
Terminal=false
Icon=beatsabermodmanager
Categories=Game;Utility